body	{font-family:arial; cursor:default; font-size:13px;}

.deeptree	{padding:4px 5px; behavior:url(/admin/mstree/deeptree.htc);}

span		{padding:2px 3px; position:relative; display:inline; top:-2px; height:17px; /*	border: solid 1px #f1f1f1;*/}
span.clsLabel	{}

span.clsSpace		{position:relative; padding:3px 2px; top:0px; width:17px; margin-top:-2px; cursor:hand; overflow:hidden;}
span.clsSpace span	{position:relative; width:11px; height:11px; border:solid 1px #98B97B; background-color:#FFFFFF;}

span.clsCollapse	{overflow:hidden; font-size:9px; line-height:6px; padding: 2px 0px 0px 1px; margin-top:2px;}	/* + */
span.clsExpand		{overflow:hidden; font-size:13px; line-height:3px; padding: 3px 0px 0px 2px; margin-top:2px;}	/* - */
span.clsLeaf		{overflow:visible; font-size:9px; line-height:3px; padding: 1px 0px 0px 3px; margin-top:2px; color:#ffffff}	/* . */

span.clsMouseOver		{background-color:#CBF3A8;}
span.clsMouseDown		{background-color:#98B97B;}
span.clsCurrentHasFocus	{background-color:#98B97B;}
span.clsCurrentNoFocus	{background-color:#F1F1F1;}

a	{color:black; text-decoration:none;}

span.clsUnavailable		{height:0px; padding:0px; top:0px; border:none; color:#888888;}

.hide			{display:none;}
.shown			{display:block; margin-left:15px;}
.deeptree IMG	{position:relative; cursor:hand; top:-2px; margin:0px; padding:0px;}
.treelabel		{font-family:verdana; font-size:70.5%; color:white;}

div.Separator			{padding: 4px 0px 7px 0px;}
div.Separator div.Line	{padding: 0px 0px 0px 0px; height:1px; width:100%; background-color:#dddddd;}